# Python
venv/
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Django
.env
staticfiles/
media/

# Node / React
node_modules/
build/
dist/

# OS
.DS_Store
# Django
*.log
db.sqlite3
backend/db.sqlite3
backend/debug.log

# Python
venv/
__pycache__/

# React
node_modules/
build/
.env
backend/scraping/data/dumps/
backend/scraping/data/dumps/*.html
backend/scraping/data/dumps/*.json